@import "tailwindcss";

@theme inline {
  --color-bg: #050505;      
  --color-surface: #141414; 
  --color-surface-2: #1c1c1c; /* hover / elevated */
  --color-text: #e6e6e6;     
  --color-text-muted: #a1a1a1; 
  --color-border: #262626;
}

html {
  scroll-behavior: smooth;
}